{% extends "auswertung/base.html"%}
{% load crispy_forms_tags %}
{%block content%}
       <h2>Passwort Zurücksetzen</h2>

       <p>Sie haben Ihr Passwort vergessen? Fügen Sie Ihre E-Mail Adresse hier ein und wir schicken 
           Ihnen eine Anleitung, wie Sie ein neues Passwort setzen.</p>

        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="Submit" class="btn btn-primary" name="E-Mail abschicken">
        </form>
{%endblock content%}