{% extends "auswertung/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            
            <div class="inline">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            <div class="inline">
                <a class="btn btn-primary" href=reset_password/ >Passwort zurücksetzen</a>
            </div>
        </form>
    </div>
{% endblock content %}