{% extends "auswertung/auswertungsseiten.html"%}
{% load crispy_forms_tags %}
{%block content%}
       
       <h1> Bitte umrande hier alle Artikel auf der Seite.
       </h1>
            Nach dem Start der Auswertung öffnet sich ein neues Fenster mit der zu analysierenden Seite.
            <br>
            <br>
            Bitte umranden Sie alle Artikel nacheinander von links oben nach rechts unten. 
            Für die Bestätigung der Auswahl eines Artikels drücken Sie bitte ENTER.
            Umranden Sie die Atikel dabei bitte eher zu groß als zu klein, um eine spätere Auswertung zu gewährleisten.

            Sobald Sie alle Artikel einmal ausgewertet haben, drücken Sie bitte zwei Mal ESC.
            <br>
            <br>

       <form method="POST">
              {% csrf_token %}
                <div>
                  <button class="btn btn-outline-info" name='kategorisieren' value = 1 type="submit">Kategorisieren</button>
              </div>
              <div class="container">
                    <div class="row">
                         <div class="col-sm">
                         <img src="{{pfad}}" class="img-fluid" alt="">
                         </br>
                        </div>
                    </div>
                </div>
              <div>
                <button class="btn btn-outline-info" name='bestätigen'value = 1 type="submit">Bestätigen</button>
                <button class="btn btn-outline-info" name='kategorisieren' value = 1 type="submit">Erneut Kategorisieren</button>
              </div>
          </form>
{%endblock content%}

